#The port used by each peer participant in the community. Each proxy listens on this port for aggregation requests.
	peer_port : 8080,

#the port that each proxy listens on for incoming client requests. A client's device should be configured to use 
#this port as an http proxy.
	proxy_port : 1337,

#the minimum file size required to trigger an aggregation session. This should never be below a few megabytes 
#in real deployment scenarios.
	minimum_file_size : 2048000, #2 mb

#Enforce an upper bound on chunk size when downloading http segments.
#This would presumably relate to the amount of memory available on the system.
	max_chunk_size : 1024000, #1 mb

#the IP addresses of each neighbor in the community. The proxy will ignore its own IP address if it is in the list.
# Client: eth0 = 10.18.175.229
# TRouter A: eth0 = 10.18.213.71, eth1 = 10.18.176.231
# TRouter B: eth0 = 10.18.186.89, eth1 = 10.18.229.213
	peers : [
		"10.18.176.231",
		"10.18.229.213"
	]

